[submodule "LuneScript-webFront/lnsc_web_frontend"]
	path = LuneScript-webFront/lnsc_web_frontend
	url = https://github.com/ifritJP/lnsc_web_frontend.git
[submodule "sub/youtube2ppt"]
	path = sub/youtube2ppt
	url = https://github.com/ifritJP/youtube2ppt.git
[submodule "study_lang/shadowing_webui"]
	path = study_lang/shadowing_webui
	url = https://github.com/ifritJP/shadowing_webui.git
[submodule "ai/ai_chat_local"]
	path = ai/ai_chat_local
	url = https://github.com/ifritJP/ai_chat_local.git
