[submodule "LuneScript-webFront/lnsc_web_frontend"]
	path = LuneScript-webFront/lnsc_web_frontend
	url = https://github.com/ifritJP/lnsc_web_frontend.git
[submodule "sub/youtube2ppt"]
	path = sub/youtube2ppt
	url = https://github.com/ifritJP/youtube2ppt.git
