/* Background */ .chroma .language-lns, .hljs { color: #e5e5e5; background-color: #222222 }
/* Error */ .chroma .language-lns .err { color: #ff0000; background-color: #222222 }
.hljs-meta, .hljs-built_in { color: #ff80f0; font-weight: bold }
/* LineTableTD */ .chroma .language-lns .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .language-lns .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .language-lns .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .language-lns .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* LineNumbers */ .chroma .language-lns .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* Keyword */ .chroma .language-lns .k, .hljs-keyword { color: #ff8000; font-weight: bold }
/* KeywordConstant */ .chroma .language-lns .kc, .hljs-const_val { color: #8080f0; font-weight: bold }
/* KeywordDeclaration */ .chroma .language-lns .kd { color: #ff8080; font-weight: bold }
/* KeywordNamespace */ .chroma .language-lns .kn { color: #ffffff; font-weight: bold }
/* KeywordPseudo */ .chroma .language-lns .kp { color: #ffffff; font-weight: bold }
/* KeywordReserved */ .chroma .language-lns .kr { color: #ff8000; font-weight: bold }
/* KeywordType */ .chroma .language-lns .kt, .hljs-type { color: #00ff00; font-weight: bold }
/* NameAttribute */ .chroma .language-lns .na { color: #007f7f }
/* NameBuiltin */ .chroma .language-lns .nb { color: #ffffff; font-weight: bold }
/* NameTag */ .chroma .language-lns .nt { font-weight: bold }
/* symbol */ .chroma .language-lns .nx { color: #f0ff80; font-weight: bold }
/* empha */ .chroma .language-lns .o, .language-lns .hljs-operator { color: #ff4040; font-weight: bold; font-size: 1.1em; }
/* LiteralDate */ .chroma .language-lns .ld { color: #ffff00; font-weight: bold }
/* LiteralString */ .chroma .language-lns .s, .hljs-string { color: #00ffff; font-weight: bold }
/* LiteralStringAffix */ .chroma .language-lns .sa { color: #00ffff; font-weight: bold }
/* LiteralStringBacktick */ .chroma .language-lns .sb { color: #00ffff; font-weight: bold }
/* LiteralStringChar */ .chroma .language-lns .sc { color: #00ffff; font-weight: bold }
/* LiteralStringDelimiter */ .chroma .language-lns .dl { color: #00ffff; font-weight: bold }
/* LiteralStringDoc */ .chroma .language-lns .sd { color: #00ffff; font-weight: bold }
/* LiteralStringDouble */ .chroma .language-lns .s2 { color: #00ffff; font-weight: bold }
/* LiteralStringEscape */ .chroma .language-lns .se { color: #00ffff; font-weight: bold }
/* LiteralStringHeredoc */ .chroma .language-lns .sh { color: #00ffff; font-weight: bold }
/* LiteralStringInterpol */ .chroma .language-lns .si { color: #00ffff; font-weight: bold }
/* LiteralStringOther */ .chroma .language-lns .sx { color: #00ffff; font-weight: bold }
/* LiteralStringRegex */ .chroma .language-lns .sr { color: #00ffff; font-weight: bold }
/* LiteralStringSingle */ .chroma .language-lns .s1 { color: #00ffff; font-weight: bold }
/* LiteralStringSymbol */ .chroma .language-lns .ss { color: #00ffff; font-weight: bold }
/* LiteralNumber */ .chroma .language-lns .m, .hljs-number { color: #ffff00;  }
/* LiteralNumberBin */ .chroma .language-lns .mb { color: #ffff00; font-weight: bold }
/* LiteralNumberFloat */ .chroma .language-lns .mf { color: #ffff00; font-weight: bold }
/* LiteralNumberHex */ .chroma .language-lns .mh { color: #ffff00; font-weight: bold }
/* LiteralNumberInteger */ .chroma .language-lns .mi { color: #ffff00; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .language-lns .il { color: #ffff00; font-weight: bold }
/* LiteralNumberOct */ .chroma .language-lns .mo { color: #ffff00; font-weight: bold }
/* Comment */ .chroma .language-lns .c, .hljs-comment { color: #f0af8f; font-weight: bold }
/* CommentHashbang */ .chroma .language-lns .ch { color: #f0af8f; font-weight: bold }
/* CommentMultiline */ .chroma .language-lns .cm { color: #f0af8f; font-weight: bold }
/* CommentSingle */ .chroma .language-lns .c1 { color: #f0af8f; font-weight: bold }
/* CommentSpecial */ .chroma .language-lns .cs { color: #f0af8f; font-weight: bold }
/* CommentPreproc */ .chroma .language-lns .cp { color: #00ff00; font-weight: bold }
/* CommentPreprocFile */ .chroma .language-lns .cpf { color: #00ff00; font-weight: bold }
/* GenericHeading */ .chroma .language-lns .gh { font-weight: bold }
/* GenericStrong */ .chroma .language-lns .gs { font-weight: bold }
/* GenericSubheading */ .chroma .language-lns .gu { font-weight: bold }
/* GenericUnderline */ .chroma .language-lns .gl { text-decoration: underline }
