<link rel="stylesheet" href="{{"css/highlight_lns.css" | relURL}}">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script src="{{"js/highlight_lns.js" | relURL}}"></script>
<script src="{{"js/hook.js" | relURL}}"></script>
<link rel="stylesheet" href="{{"css/custom.css" | relURL}}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4708B8S6ES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4708B8S6ES');
</script>